Repository Supreme070/marketsage-monitoring, changes with the owners that .github/CODEOWNERS names for each.
All owners: @monitoring-team, @devops-team, @sre-team, @security-team

.github/CODEOWNERS:

# MarketSage Monitoring Code Owners
# These owners will be requested for review when anyone opens a pull request.

# Global owners
* @monitoring-team @devops-team

# Configuration files
config/ @devops-team @sre-team
alloy/ @monitoring-team @devops-team
grafana/ @monitoring-team

# Docker and deployment
docker-compose.yml @devops-team
Dockerfile* @devops-team
.github/workflows/ @devops-team

# Scripts and automation
scripts/ @devops-team @sre-team

# Security-sensitive files
secrets.example/ @security-team @devops-team
.env.example @devops-team

# Documentation
*.md @monitoring-team @devops-team

Set up staging strategy with multi-environment support
  Makefile
  environments/development/.env.development
  environments/development/docker-compose.dev.yml
  environments/production/.env.production
  environments/production/docker-compose.production.yml
  environments/staging/.env.staging
  environments/staging/docker-compose.staging.yml
  scripts/switch-environment.sh
Owners: @monitoring-team, @devops-team, @sre-team

Fix staging network configuration
  .env
  environments/staging/.env.staging
Owners: @monitoring-team, @devops-team

Fix CI/CD workflows: Install Docker Compose on GitHub Actions runners
  .github/workflows/ci-cd.yml
  .github/workflows/config-validation.yml
  .github/workflows/deploy.yml
Owners: @devops-team

Fix CI/CD configuration validation failures
  .env
  .env.example
  .github/workflows/ci-cd.yml
  .github/workflows/config-validation.yml
  config/alertmanager.yml
  config/rules/marketsage-alerts.yml
Owners: @monitoring-team, @devops-team, @sre-team

Fix CI validation commands: Add missing --entrypoint flags
  .github/workflows/ci-cd.yml
  .github/workflows/config-validation.yml
Owners: @devops-team

Simplify CI validation commands: Fix multi-line Docker command syntax
  .github/workflows/ci-cd.yml
  .github/workflows/config-validation.yml
Owners: @devops-team

Fix Docker Compose installation: Use direct download method
  .github/workflows/ci-cd.yml
  .github/workflows/config-validation.yml
  .github/workflows/deploy.yml
Owners: @devops-team

Fix security scanning: Add permissions and simplify Trivy configuration
  .github/workflows/ci-cd.yml
Owners: @devops-team

Fix CI test deployment: Handle Docker network configuration properly
  .github/workflows/ci-cd.yml
Owners: @devops-team

Fix CI external network issue: Create required Docker networks before deployment
  .github/workflows/ci-cd.yml
Owners: @devops-team

Fix CI health checks: Add Prometheus basic authentication credentials
  .github/workflows/ci-cd.yml
  config/web-config.yml
Owners: @devops-team, @sre-team

Fix Prometheus bcrypt hash: Update web-config.yml with proper bcrypt hash
  config/web-config.yml
Owners: @devops-team, @sre-team

Fix CI Prometheus startup: Add debugging and disable auth for CI testing
  .github/workflows/ci-cd.yml
Owners: @devops-team

Make CI health checks resilient: Add retry logic and improved startup timing
  .github/workflows/ci-cd.yml
Owners: @devops-team

Disable Docker image build: Fix container registry permission error
  .github/workflows/ci-cd.yml
Owners: @devops-team

updating monitoring
  .env
  Makefile
  REBUILD-GUIDE.md
  alloy/config/config.alloy
  alloy/rules/marketsage-alerts.yml
  alloy/rules/system-alerts.yml
  config/loki.yml
  config/prometheus.yml
  docker-compose.yml
  docker-entrypoint.sh
  grafana/dashboards/logs-comprehensive.json
  grafana/dashboards/marketsage-overview.json
  grafana/dashboards/metrics-performance.json
  post-rebuild-hook.sh
  update-container-ids.sh
Owners: @monitoring-team, @devops-team, @sre-team

latest
  DASHBOARD-GUIDE.md
  alloy/rules/marketsage-alerts.yml.bak
  grafana/dashboards/marketsage-overview.json.bak
  grafana/dashboards/metrics-performance.json.bak
Owners: @monitoring-team, @devops-team

added tempo for traces
  alloy/config/config.alloy
  alloy/rules/marketsage-alerts.yml
  alloy/rules/marketsage-alerts.yml.bak
  alloy/rules/sla-alerts.yml
  config/alertmanager.yml
  config/loki.yml
  config/postgres_exporter.yml
  config/prometheus.yml
  config/tempo.yml
  docker-compose.yml
  grafana/dashboards/error-correlation.json
  grafana/dashboards/marketsage-business-overview.json
  grafana/dashboards/marketsage-overview.json
  grafana/dashboards/marketsage-overview.json.bak
  grafana/dashboards/marketsage-sla-overview.json
  grafana/dashboards/marketsage-status.json
  grafana/dashboards/metrics-performance.json
  grafana/dashboards/metrics-performance.json.bak
  grafana/dashboards/performance-analysis.json
  grafana/dashboards/request-flow.json
  grafana/dashboards/request-tracing.json
  grafana/dashboards/service-map.json
  grafana/dashboards/tempo-tracing.json
  grafana/provisioning/datasources/default.yml
  grafana/provisioning/datasources/tempo.yml
Owners: @monitoring-team, @devops-team, @sre-team

Enhance monitoring stack to enterprise-grade with comprehensive observability
  alloy/rules/anomaly-detection.yml.disabled
  alloy/rules/capacity-planning.yml.disabled
  alloy/rules/sla-monitoring.yml
  config/alertmanager-enhanced.yml
  config/loki.yml
  config/prometheus-service-discovery.yml
  config/prometheus.yml
  config/tempo-enhanced.yml
  docker-compose.override.yml
  docker-compose.yml
  docs/production-deployment-guide.md
  docs/rum-implementation-guide.md
  docs/sentry-integration.md
  docs/strategic-monitoring-roadmap.md
  grafana/dashboards/slo-sli-tracking.json
  scripts/backup-monitoring.sh
  scripts/health-check-monitoring.sh
  scripts/log-rotation.sh
  scripts/ssl-cert-management.sh
  services/business-metrics-exporter/Dockerfile
  services/business-metrics-exporter/index.js
  services/business-metrics-exporter/package.json
  services/compliance-monitor/Dockerfile
  services/compliance-monitor/index.js
  services/compliance-monitor/package.json
  services/synthetic-monitoring/Dockerfile
  services/synthetic-monitoring/index.js
  services/synthetic-monitoring/package.json
Owners: @monitoring-team, @devops-team, @sre-team

Fix monitoring stack deployment and add MCP monitoring service
  alloy/rules/mcp-alerts.yml
  config/alertmanager.yml
  config/prometheus.yml
  docker-compose.yml
  grafana/dashboards/mcp-alerts.json
  grafana/dashboards/mcp-overview.json
  grafana/dashboards/mcp-task-execution.json
  services/mcp-monitor/Dockerfile
  services/mcp-monitor/package.json
  services/mcp-monitor/src/analyzers/auth.js
  services/mcp-monitor/src/analyzers/patterns.js
  services/mcp-monitor/src/analyzers/payload.js
  services/mcp-monitor/src/analyzers/task-execution.js
  services/mcp-monitor/src/index.js
  services/mcp-monitor/src/metrics/collector.js
  services/mcp-monitor/src/tracing/service.js
Owners: @monitoring-team, @devops-team, @sre-team

Complete enterprise monitoring stack enhancement
  .env
  .env.example
  .env.production
  config/prometheus.yml
  config/rules/nestjs-alerts.yml
  config/tempo.yml
  docker-compose.yml
  docs/nestjs-monitoring-guide.md
  environments/development/.env.development
  environments/development/docker-compose.dev.yml
  environments/production/.env.production
  environments/production/docker-compose.production.yml
  environments/staging/.env.staging
  environments/staging/docker-compose.staging.yml
  grafana/dashboards/nestjs-backend-monitoring.json
  scripts/import-nestjs-dashboard.sh
Owners: @monitoring-team, @devops-team, @sre-team

Reorganize monitoring structure: Add comprehensive dashboards and alert rules
  config/rules/business-kpis.yml
  config/rules/critical-alerts.yml
  docs/ALERT_TESTING_GUIDE.md
  docs/CI-CD-README.md
  docs/COMPREHENSIVE_TEST_REPORT.md
  docs/IMPLEMENTATION_GUIDE.md
  docs/IMPLEMENTATION_SUMMARY.md
  docs/MONITORING_TRANSFORMATION_README.md
  docs/QUICK_START_THIS_WEEK.md
  docs/SETUP_GUIDE.md
  docs/STAGING-SETUP.md
  docs/WORLD_CLASS_MONITORING_ARCHITECTURE.md
  grafana/dashboards/aiml-operations.json
  grafana/dashboards/business-overview.json
  grafana/dashboards/customer-experience.json
  grafana/dashboards/developer-performance.json
  grafana/dashboards/executive-overview.json
  grafana/dashboards/sre-slo-tracking.json
  scripts/docker-entrypoint.sh
Owners: @devops-team, @sre-team, @monitoring-team

feat: Add package.json and build script
  package.json
  scripts/build.sh
Owners: @monitoring-team, @devops-team, @sre-team

feat: Monitoring infrastructure updates
  .env.production
  MONITORING_TASKS.md
  config/prometheus.yml
  config/promtail.yml
  docker-compose.yml
  grafana/dashboards/multi-tenancy-security.json
  grafana/provisioning/datasources/default.yml
Owners: @monitoring-team, @devops-team, @sre-team
